*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

body {
    box-sizing: border-box;
}

:root {
    --light-gray: #F7FAFC;
    --light-gray-2: #718096;
    --icon-color: #A0AEC0;
    --dark-gray: #171923;
    --bg: #3182CE;
}


.sidebar {
    float: left;
    width: 250px;
    height: 100vh;
    border-right: 1px solid RGBA(0, 0, 0, 0.08);
}

.sidebar-logo {
    padding: 2rem;
    position: relative;
}

.logo-img {
    width: 5rem;
    height: 5rem;
}

.brand-text {
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    top: 3.4rem;
}

.sidebar-nav {
    margin-top: 1rem;
    font-size: 1.6rem;
}

.navigation__item {
    list-style: none;
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: space-between;
}

.highlight {
    color: #4299E1 !important;
}

.dashboard {
    margin: 2rem 0;
}

.icon {
    margin-right: 1.9rem;
    color: var(--icon-color);
}

.arraw-icon {
    color: var(--icon-color);
}

.navigation__link {
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 400;
}

.sub {
    padding-left: 3.5rem;
}

.sub-head {
    padding: 2rem;
    color: var(--light-gray-2);
}

.number {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--bg);
    color: white;
    font-size: small;
    border-radius: 50%;
    text-align: center;
    transform: translate(8px, -5px);
    font-weight: bold;
    line-height: 2.5rem;
}

.layout {
    float: right;
    min-height: 100vh;
    height: 100%;
    max-height: 100%;
    width: calc(100% - 250px);
    overflow: auto;
}

.header {
    display: block;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E2E8F0;
}

.search {
    padding: 3rem 3rem 3rem 5rem;
}

.search-icon {
    font-size: 1.7rem;
    color: var(--icon-color);
}

.search-input {
    outline: none;
    border: none;
    font-size: 1.8rem;
    padding-left: 1.5rem;
    font-family: 'Inter', sans-serif;
    color: var(--light-gray);
}

.header-icons {
    padding: 2rem;
}

.header-icon {
    margin-right: 2.5rem;
    font-size: 2rem;
    color: var(--icon-color);

}

.header-icon .red {
    transform: translateY(-2.3rem);
}

.header-icons span {
    transform: translate(-1rem,1.5rem);
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.green {
    background-color: #68D391;
}

.red {
    background-color: red;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.customer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 2rem;
}

.customer {
    display: flex;
}

.customer-text {
    font-size: 3rem;
    font-weight: bold;
    margin-right: 1.5rem;
}

.customer-value {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    width: 10rem;
    height: 3rem;
    background-color: RGBA(0, 0, 0, 0.08);
    text-align: center;
    line-height: 3rem;
    border-radius: 5px;
    transform: translateY(7px);
}

.button {
    background-color: var(--bg);
    color: white;
    outline: none;
    border: none;
    padding: 0 1rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.card {
    margin: 3rem;
    border: 1px solid #E2E8F0;
    box-shadow: 0 .0625rem .125rem rgba(24, 19, 19, 0.15);
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.delete {
    margin-right: 0.5rem;
}

.del-btn {
    display: inline-block;
    color: red;
    background-color: white;
    outline: none;
    padding: 1rem 1.5rem;
    font-family: 'Inter';
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid red;
}

.info {
    padding: 3rem 3rem 0 0;
}

.selected {
    font-size: 1.5rem;
    padding-right: 2rem;
    color: #718096;
}

.table {
    width: 100%;
    padding: 2rem;
    font-size: 1.5rem;
}

.table-head {
    width: 100%;
    height: 8rem;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: var(--light-gray);
    text-align: left;
    color: #718096;
    margin: 2rem;
}

.tr {
    color: var(--light-gray-2);
}

.td {
    padding: 2.5rem;
    font-size: 1.5rem;
}

.name {
    font-weight: bold;
    color: black;
}

.avatarImg {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--light-gray);

}

.table-pagination {
    display: none;
}

.pagination-link {
    margin-right: 5px;
    cursor: pointer;
}

.pagination-link.active {
    font-weight: bold;
}

.table-footer {
    display: flex;
    justify-content: space-between;
}

.align {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    padding: 2rem;
    color: var(--light-gray-2);
}

#paginationContainer {
    color: var(--light-gray-2);
    padding: 2rem;
}

#prevButton,
#nextButton {
    color: var(--light-gray-2);
    font-size: 1.5rem;
    padding: 1re 1.5rem;
    background-color: white;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.pagination-link {
    margin-right: 5px;
    cursor: pointer;
    font-size: 1.5rem;

}

.pagination-link.active {
    font-weight: bold;
    background-color: var(--bg);
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 5px;
}